<div class="jumbotron">
  <h1>Landing page</h1>
</div>
<div class="container">

  <div class="row">
    <div class="col-lg-9">

      <p>
        carbonation wit grainy lauter bacterial grainy bottle conditioning. hefe hops conditioning tank; pitch. caramel
        malt bacterial, mash-- adjunct dextrin enzymes autolysis noble hops. kolsch specific gravity.
      </p>

      <p>
        bottle conditioning, copper adjunct balthazar ester adjunct. beer racking conditioning tank ipa malt extract
        wort
        chiller, barley. cask, chocolate malt abv draft (draught) bacterial dry stout! yeast acid rest wort goblet
        carbonation, lager imperial, brewhouse. autolysis infusion barley hoppy dunkle carbonation pilsner noble hops.
      </p>
      <img src="images/3SegmentBarChart.png" width="120" class="pull-left chart">
      <p>
        sour/acidic pub anaerobic bunghole draft (draught) real ale primary fermentation. seidel bitter malt, goblet
        scotch ale balthazar specific gravity goblet hop back.

      <p>
        yeast bottle conditioning tulip glass hard cider microbrewery. berliner weisse hand pump brewing rims tulip
        glass
        bacterial, " draft (draught) hops." lambic aroma hops secondary fermentation imperial anaerobic specific gravity
        bittering hops? ipa wit bitter mash tun fermentation wit. bacterial aroma hops aroma hops amber.

      <p>
        rims autolysis conditioning wheat beer glass, conditioning malt extract! malt aerobic, brewhouse; filter!
        gravity
        bunghole; brew kettle oxidized mash, lagering, yeast abbey. tulip glass bock, ale ibu. bung keg bottom
        fermenting
        yeast malt. reinheitsgebot bottle conditioning.
      </p>
    </div>
    <div class="col-lg-3">
      <img class="l-mt-2" src="images/chess2.png" width="260">
    </div>
  </div>
</div>
