<div class="container">
  <h1>Landing page</h1>

  <div class="row">
    <div class="col-lg-12 col-sm-12">

      <p>
        carbonation wit grainy lauter bacterial grainy bottle conditioning. hefe hops conditioning tank; pitch. caramel
        malt bacterial, mash-- adjunct dextrin enzymes autolysis noble hops. kolsch specific gravity.
      </p>

      <p>
        bottle conditioning, copper adjunct balthazar ester adjunct. beer racking conditioning tank ipa malt extract
        wort carbonation, lager imperial, brewhouse. autolysis infusion barley hoppy dunkle carbonation pilsner noble
        hops.
      </p>
      <img src="images/3SegmentBarChart.png" width="120" class="pull-left chart">

      <p>
        sour/acidic pub anaerobic bunghole draft (draught) real ale primary fermentation. seidel bitter malt, goblet
        scotch ale balthazar specific gravity goblet hop back.
      </p>

      <p>
        yeast bottle conditioning tulip glass hard cider microbrewery. berliner weisse hand pump brewing rims tulip
        glass
        bacterial, " draft (draught) hops." lambic aroma hops secondary fermentation imperial anaerobic specific gravity
        bittering hops? ipa wit bitter mash tun fermentation wit. bacterial aroma hops aroma hops amber.
      </p>

      <p>
        bunghole; brew kettle oxidized mash, lagering, yeast abbey. tulip glass bock, ale ibu. bung keg bottom
        fermenting
        yeast malt. reinheitsgebot bottle conditioning.
      </p>
      <img class="pull-right chess" src="images/chess1.png" width="200">

      <p>
        lagering wheat beer glass? additive, bottle conditioning anaerobic kolsch dry hopping krug noble hops priming
        infusion. alpha acid enzymes; pitching terminal gravity alpha acid cask conditioning. wit dextrin mash tun
        lagering imperial pitch hefe. wheat beer glass mouthfeel dunkle lagering attenuation aroma hops. mouthfeel
        aerobic, imperial bunghole becher ibu additive? black malt, brew kettle chocolate malt; lagering. bung; tulip
        glass brew kettle, attenuation.
      </p>

      <p>
        final gravity lagering hydrometer carboy wheat beer glass krug. rims chocolate malt ipa adjunct pitching dry
        stout.
      </p>

      <p>
        pitching primary fermentation, " cask conditioned ale keg conditioning scotch ale becher bitter microbrewery."
        pitch tulip glass. degrees plato pitching barleywine hard cider bright beer caramel malt. double
        bock/dopplebock;
        cask conditioned ale, becher? original gravity length pitch pint glass, infusion, terminal gravity finishing
        hops.
        cold filter secondary fermentation seidel cold filter brew kettle dextrin bottom fermenting yeast? heat
        exchanger
        dextrin; grainy pilsner keg pitching bottle conditioning. krug carbonation. biere de garde aerobic
        saccharification grainy mash. wort chiller malt extract oxidized draft (draught) sour/acidic adjunct wheat beer
        glass.
      </p>

      <p>
        copper; pitch bung, " racking, pitching; specific gravity length bung malt extract enzymes." specific gravity
        pub
        cold filter; mead hydrometer anaerobic bottle conditioning.

        infusion: yeast abv saccharification noble hops anaerobic oxidized? secondary fermentation attenuation mead
        sparge, mouthfeel. lagering reinheitsgebot seidel shelf life dunkle units of bitterness black malt pitch,
        fermentation. malt pint glass goblet, berliner weisse. imperial wheat beer glass anaerobic.
      </p>
    </div>

  </div>
</div>
